.containerCard{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.card{
  background-color: var(--fondo-terciario);
  border:  var(--bordes) 2px solid;
  border-radius: 8px;
  max-width: 300px;
  text-align: center;
  padding: 16px;
  margin: 8px;
}

.img {
  width: 100%;
  border: var(--bordes) 2px solid;
  border-radius: 8px;
  height: auto;
  object-fit: cover;
}

.link{
  text-decoration: none;
  color: var(--texto-secundario);
  font-family: var(--fuente-principal);
  font-size: var(--Titulo-principal);
}

.btn{
  background: var(--fondo-primario);
  border:  var(--bordes) 2px solid;
  border-radius: 8px;
  height: 48px;
  width: 100px;
  margin: 8px;
  color: var(--texto-primario);
  font-family: var(--fuente-principal);
  font-size: var(--Titulo-principal);
}

.btn:hover{
  background: var(--fondo-secundario);
  color: var(--fondo-bg);
  cursor: pointer;
}