:root {
  /* COLORES */
  /* Fondos */
  --fondo-bg: #FFFFFF;
  --fondo-primario: #007acc;
  --fondo-secundario: #00538f;
  --fondo-terciario: #e5f6ff;
  /* Bordes */
  --bordes: #dddddd;
  /* Textos */
  --texto-primario: #333333;
  --texto-secundario: #666666;
  --texto-inactivo: #999999;
  /* Estados */
  --exito: #28a745;
  --advertencia: #ffc107;
  --error: #dc3545;
  /* TIPOGRAFÍA */
  /* Fuentes */
  --fuente-principal: Roboto, sans-serif;
  --fuente-secundaria: Montserrat, sans-serif;
  /* Tamaño texto */
  --Titulo-principal: 24px bold;
  --Titulo-secundario: 20px medium;
  --texto-regular: 16px;
}

body{
  background: var(--fondo-bg);
}

h1{
  color: var(--texto-primario);
  font-family: var(--fuente-principal);
  font-size: var(--Titulo-principal);
}

h2{
  color: var(--texto-primario);
  font-family: var(--fuente-principal);
  font-size: var(--Titulo-secundario);
}

p{
  color: var(--texto-secundario);
  font-family: var(--fuente-secundaria);
  font-size: var(--texto-regular);
}