.nav {
  padding: 10px;
  text-align: center;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.li {
  display: inline-block;
  margin-right: 20px;
}

.li:last-child {
  margin-right: 0;
}

.a {
  text-decoration: none;
  color: var(--texto-primario);
  background-color: var(--fondo-primario);
  padding: 10px 20px;
  border-radius: 5px;
  font-family: var(--fuente-principal);
  font-size: var(--texto-regular);
}

.a:hover {
  background-color: var(--fondo-secundario);
  color: var(--fondo-bg);
}
